body {
  background-color: black;
}

h1 {
color:#fff;
text-align: center;
padding-bottom: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40pt;
}

.sidebar {
  background-color:#3e2276;
  line-height: 2;
  color:darkgrey;
  padding: 1%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  float:left;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: 1%;
}
img.concert {
  width: 100%;
}
img.header {

}
.column {
  width: 30%;
  float: right;
  padding: 0% 1%;
  margin: 1%;
  box-sizing: border-box;
}